body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    scroll-behavior: smooth;
    /* Плавная прокрутка */
}

/* Шапка */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    z-index: 1000;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.header.scrolled {
    background-color: #FFD700;
    color: black;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

}

.header.scrolled .nav ul li a:hover {
    color: #333;

}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
}

.header .logo {
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}


.header .nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.header .nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}

.header .nav ul li a:hover {
    color: #FFD700;
}

/* Параллакс-эффект */
.parallax {
    height: 100vh;
    background-image: url('/img/istockphoto-1202238715-1024x1024.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.parallax-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.parallax-content p {
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 5px;
}

.parallax-second {
    background-image: url('/img/istockphoto-1135293039-1024x1024.jpg');


}

.parallax-second__title {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 3rem;
}

.parallax-second__title span {
    color: darkred;
}

/* Контент */
.content {
    padding: 80px 50px;
    text-align: center;
}

.content h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.content p {
    font-size: 1.2rem;
    line-height: 1.6;
}

/* Футер */
.footer {
    text-align: center;
    padding: 20px;
    background-color: black;
    color: white;
    font-size: 1rem;
}